<div class="container-fluid contenedor_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="titulo_atencion">Horario de atención:</h2>
                <p class="texto_creditos">Lunes a viernes: 7:00 a.m. – 2:00 p.m.</p>
                <p class="texto_creditos">
					Sábados:  – 7:00 a.m. – 2:00 p.m.</p>

            </div>
            <div class="col-md-4">
                <h2 class="titulo_atencion">Recepción de correspondencia</h2>
                <p class="texto_creditos">Incluyendo Derechos de Petición y notificaciones de entidades judiciales
                </p>
                <p class="texto_creditos">correspondenciaentanillamovilidad.com.co</p>
                <p class="texto_creditos">Centro de Gestión Documental Automotor </p>

            </div>
            <div class="col-md-4">
                <h2 class="titulo_atencion">Línea de atención al ciudadano</h2>
                <p class="texto_creditos">(601) 291-6999</p>
            </div>
        </div>
    </div>

</div>
