<app-navbar></app-navbar>

<div class="container-fluid fondo_principal_login">

    <div class="container">
        
        <button type="button" class="volver btn btn-success" (click)="volver()">Volver</button>

        <form class="fomulario">
            <img src="https://www.movilidadbogota.gov.co/web/sites/default/files/field/image/logo-pmss.png" class="logo_dE_movilidad"/>
            <h2 class="text-registro">REGISTRE SU VEHÍCULO</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Escriba su numero de documento</label>
                        <input type="text" class="form-control" placeholder="Escriba su numero de docmuento">
                    </div>

                    <div class="form-group">
                        <label>Escriba su nombre</label>
                        <input type="text" class="form-control" placeholder="Escriba su numero de docmuento">
                    </div>

                    <div class="form-group">
                        <label>Seleccione marca del vehiculo</label>
                        <select class="form-control">
                            <option>Seleccione la marca</option>

                            <option *ngFor="let marca of vehiculos" [value]=" marca.Slug ">{{ marca.Nombre }} </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Escriba modelo(optra, aveo etc.)</label>
                        <input type="text" class="form-control" placeholder="Escriba su contraseña">
                    </div>

                    <div class="form-group">
                        <label>Placa</label>
                        <input type="text" class="form-control" placeholder="Escriba su contraseña">
                    </div>

                    <div class="form-group">
                        <label>Precio</label>
                        <input type="text" class="form-control" placeholder="Escriba su contraseña">
                    </div>
                </div>
                

                <div class="col-md-12">
                    <button type="button" class="btn btn-primary">Ingresar</button>
                </div>

                
                <div class="col-md-12 bajar_texto">
                    <p>¿ya esta registrado? -<span class="text_ingreso" [routerLink]="['/impuesto']">Conozca el Impuesto que debe pagar</span></p>
                </div>
                
            </div>
         </form>
        
    </div>
</div>


<app-footer></app-footer>


