.fondo_principal_login {
    width: 100%;
    height: 1032px;
    display: flex;
    align-items: center;
    background-image: url(https://cdn.autopapo.com.br/box/uploads/2021/03/11185301/3.-toyota-corolla-cross-hybrid-2022.jpg);
    background-size: cover;
    background-attachment: fixed;
}


@media( max-width:650px ){

.fomulario {

    width: 100%;
    padding: 47px 35px;
}


.text-registro {
    font-size: 19px;
    margin-top: 17px;
}

.volver.btn.btn-success {
    margin-bottom: 30px;
}

.container-fluid.fondo_principal_login {
    padding: 0px;
}


.text-registro{
    
    font-size: 18px;
    margin-top: 27px;
    margin-bottom: 26px;
}


}