
<div class="container-fluid contenedor_header">
    <div class="row quitar_margenes">
        <div class="col-md-4">
            <img src="https://www.movilidadbogota.gov.co/web/sites/default/files/field/image/logo-pmss.png" class="logo_mobilidad" (click)="mostrarMenu()"/>
        </div>
        <div class="col-md-8" *ngIf="mostrarMenuPrincipal">

            <div class="menu_principal">
                <li [routerLink]="['/home']">Inicio</li>
                <li [routerLink]="['/impuesto']">¿Cuanto debo pagar de impuesto?</li>
                <li [routerLink]="['/registroVehiculo']">Registrar Vehiculo</li>
                <li [routerLink]="['/pasoApaso']">Paso a paso</li>
                <li [routerLink]="['/tarifas']">Tarifas</li>

                <li class="boton_ingresar" [routerLink]="['/login']" *ngIf="botonLogin">LOGIN</li>
                <li class="boton_ingresar" [routerLink]="['/interna']" *ngIf="botonPerfil">Ir a mi perfil</li>

            </div>
        </div>
    </div>
</div>



