

.ancho_de_menu {
    max-width: 400px;
    height: 98vh;
    background-color: #171934;
    padding: 20px 40px;
    border-right: 2px solid #640081;
}

.logo_interna {
    
    width: 35%;
    margin: 40px auto;
}

.boton_interna{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
    list-style: none;
    color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff6e;
    cursor:pointer;
}

.logo_distrito {
    width: 100%;
    position: relative;
    margin-top: 84px;
}

.header_cerrar_sesion{

    width: 100%;
    border-bottom: 1px solid #171934;
    padding: 10px 30px;
    display: table;
}

.contenedor_cerrar{

    width: auto;
    display: table;

    float:right;
}

.tw-cursor-pointer {
    width: 40px;
    float: left;
}

.texto_nombre {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
    top: 6px;
    float: left;
    margin-left: 10px;
}

.texto_cerrar_sesion{

    text-decoration: underline;
    text-align: center;
    margin-left: 30px;
    cursor:pointer;
}

.base_interna_principal{

    width: 100%;
    display: table;
}

.nombre_bienvenida {
    font-size: 39px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
    list-style: none;
    color: #000000;
    padding: 10px 20px;
}

.base_bienvenida{

    width: 670px;
    display: table;
    margin: 60px auto;
}

.texto_bienvenida {
    width: 66%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
    list-style: none;
    color: #000000;
    padding: 10px 20px;
}

.contenedor_agendar_cita{

    width: 100%;
    display: table;
}

.ancho_formulario{
    width: 100%;
    max-width: 600px;
    margin: 50px auto 90px auto;
}

.ancho_fila{

    width: 100%;
    max-width: 600px;
    display: table;
    margin:auto;
}

.contendor_tabla{

    margin:80px 0px;
}

    