
.fomulario {
    width: 60%;
    padding: 47px 55px;
    margin: auto;
    background-color: #fff;
    border-radius: 12px;
}

.text-registro{

    font-size: 25px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 35px;
}

.bajar_texto{

    margin-top: 20px;
}

.text_ingreso {
 
    text-decoration: underline;
    cursor: pointer;
}

.logo_dE_movilidad{

    width: 40%;
}

.btn.btn-primary {
    margin: 13px 0px 0px 0px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
    
}

.btn.btn-primary {
    background-color: #6148a3;
    background-image: none;
    border:none;
}

.volver.btn.btn-success {
    background-color: #a68ee7;
    background-image: none;
    border: none;
}

hr {
    margin: 27px auto 27px auto;
    border: none;
    width: 94%;
    height: 1px;
    background-color: #6148a3;
}